.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-bottom: 60px;
  margin-top: 58px;

  & .wrapper-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    max-width: 1080px;
    margin: auto;
  }

  & .title {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 62px;
    gap: 20px;
    margin-left: -60px;
    margin-bottom: 110px;

    & h2 {
      color: #151c26;
      font-size: 36px;
      font-weight: 700;
      text-align: start;
    }
  }
  & .text-container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    & p {
      color: #313a4b;
      text-align: justify;
      font-size: 20px;
      font-weight: 500;
      line-height: 31px;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 25px 60px;
    & .wrapper-container {
      p,
      h3 {
        padding-left: 30px;
      }
    }

    & .title {
      gap: 10px;
      margin: 0 0 15px;
      & img {
        width: 22px;
      }
    }
  }
}
