.container {
  width: 100%;
  margin-top: 58px;
  background: url("../../assets/icon/Group5962.svg") center no-repeat,
    url("../../assets/icon/Group5898.svg") top right no-repeat;
  background-color: #fff;
  background-size: 50% 80%, auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
